.jfx-radio-button .dot{
    -fx-mark-highlight-color:red;
    -fx-mark-color:red;
}
.combo-box-base:hover .arrow,.combo-box-base:focused .arrow{
    -fx-background-color:white;
}
.jfx-text-field{
    -fx-font-size:17px;
}
.anchor-pane{
    -fx-background-color:transparent;
    -fx-background-radius:15;
    -fx-border-style:solid;
    -fx-border-width: 2px;
    -fx-background-size: 100%;
    -fx-border-radius:10;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.tab-header-background{
    -fx-background-color: #501787;
}
.jfx-text-field{
    -fx-font-family:'ShureTechMono Nerd Font';
}
.tab{
    -fx-font-weight:500;
    -fx-font-family:'ShureTechMono Nerd Font';
}
.header{
    -fx-background-color:#501787;
    -fx-text-fill:white;
    -fx-font-size: 20px;
    -fx-font-family:'ShureTechMono Nerd Font';
}
.jfx-button{
    -fx-font-family: 'ShureTechMono Nerd Font';
    -fx-font-size:17px;
    -fx-background-color:white;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-radius:20px;
    -fx-border-color:#501787;
    -fx-border-width:1px;
}
#addstudentbtn:hover{
    -fx-background-color:green;
    -fx-text-fill:white;
}
#cancelbtn:hover{
    -fx-background-color:orange;
    -fx-text-fill:white;
}
.choosebtn:hover{
    -fx-background-color:#501787;
    -fx-text-fill:white;
}
.date-picker{
    -fx-font-family: 'ShureTechMono Nerd Font';
}
/*.combo-box {
      -fx-font-family: 'ShureTechMono Nerd Font';
      -fx-font-size:15px;
}*/
.combo-box{
    -fx-border-width: 0.5px;
    -fx-border-color: #501787;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 15px; 
    -fx-padding: 0px;
    -fx-font-weight:700;
    -fx-font-family: 'ShureTechMono Nerd Font';
}
.combo-box:hover .list-cell{
    -fx-text-fill: white;
}
.combo-box:focused .list-cell{
    -fx-text-fill: white;
}
.combo-box-base:hover{
    -fx-background-color: #8145b8;
    -fx-text-fill: white;
}
.combo-box-base:focused{
    -fx-background-color: #501787;
    -fx-text-fill: white;
}
.combo-box .list-view{
    -fx-border-width: 0.5px;
    -fx-border-color: #501787;
    -fx-background-color: white;
    -fx-padding: 0px;
    -fx-font-weight:700;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-background-radius: 10px 10px 10px 10px;
}
.combo-box .list-view .list-cell{
    -fx-background-radius: 10px;
}
.combo-box .list-view .list-cell:filled {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.combo-box .list-view .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #8145b8;
}
.combo-box .list-view .list-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: #501787;
}